button
{
		font-family: comic sans ms;
		display: inline-margin;
		margin: 0;
		padding: 0;
		font-size: 120%;
}
input[id = "Biginput"]
{
		background-color: Black;
		color: white;
		height: 50px;
		width: 30.86%;
		font-size: 150%;
		font-family:comic sans ms;
}

#Clear
{
		height: 50px;
		width: 5%;
		background-color:rgb(60,60,60);
		font-size: 100%;
		color: white;
}
#Pi
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Sqrt
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Sq
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Percent
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Backspace
{
		height: 50px;
		width: 5%;
		background-color: rgb(60,60,60);
		font-size: 100%;
		color: white;
}
#log
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#sin
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Exp
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Exponent
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Plusminus
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Division
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#naturalog
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Cos
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Seven
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#eight
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#nine
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#Multiply
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Factorial
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Tan
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#four
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#five
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#six
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#Subtract
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Radians
{
		height: 50px;
		width: 10.24%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#one
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#two 
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#three 
{
		height: 50px;
		width: 5%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#Add
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#degrees
{
		height: 50px;
		width: 10.24%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#zero
{
		height: 50px;
		width: 10.3%;
		background-color: rgb(64,64,64);
		font-size: 100%;
		color: white;
}
#Decimal
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Equal
{
		height: 50px;
		width: 5%;
		background-color: Teal;
		font-size: 100%;
		color: white;
}

