input[id = "Biginput"]
{
		background-color:Black;
		color: white;
		height: 50px;
		width: 30%;
		font-size: 100%;
}

#Clear
{
		height: 50px;
		width: 5%;
		background-color: #000000c2;
		font-size: 100%;
		color: white;
}
#Pi
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Sqrt
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
#Sq
{
		height: 50px;
		width: 5%;
		background-color: grey;
		font-size: 100%;
		color: white;
}
