#Input1,#Input2,#Input3,#Input4,#Input5,#Input6,#Input7
{
	max-width:fit-content;
	margin-left: auto; 
	margin-right: auto; 
	font-family: papyrus; 
	font-size: 20px;
}
#heading
{
	text-align: center;
	font-family: papyrus; 

}
body
{
	background-color: white;
}
input,button
{
	font-family:papyrus;
	font-size: 20px;
}
table,th,td
{
		border: 2px solid black; 
		border-collapse: collapse;
		margin-right: auto; 
		margin-left: auto;
		font-family: papyrus;
		text-align:center;
}
body 
{
		background-color: white;
}
img 
{
		margin-left: 13%;
		position: absolute;
}
#image
{
		margin-left:77%;
}

#periodhead
{
		width: 200px; 
		text-align: center; 
		font-family: papyrus;
}

#course
{
		width: 200px;
		height: 70px;
		font-size: 18px;
}

h1
{
		text-align: center;
		font-family: papyrus;
}
h2
{
		text-align: center; 
		font-family: papyrus; 
		font-size: 20px;
}
h4 
{
		text-align: center; 
		font-family: papyrus; 
		font-size: 16px;
}

#osisTag
{
		margin-left: 8%;
		font-size: 20px;
		font-family: papyrus;
}
#GradeTag
{
		font-size: 20px; 
		margin-left: 10.4%;
		font-family: papyrus;
}
#nameTag
{
		margin-left:27.5%; 
		font-size: 20px; 
		font-family: papyrus;
}
#OsisNumber,#Grade_level,#fullname
{
		font-size: 18px; 
		font-family: papyrus;
}
#time 
{
		font-size: 12px;
}
#Period1_Teacher_Day1,#Period1_Teacher_Day2,#Period1_Teacher_Day3,#Period1_Teacher_Day4,#Period1_Teacher_Day5,#Period2_Teacher_Day1,#Period2_Teacher_Day2,#Period2_Teacher_Day3,
#Period2_Teacher_Day4,#Period2_Teacher_Day5,#Period3_Teacher_Day1,#Period3_Teacher_Day2,#Period3_Teacher_Day3,#Period3_Teacher_Day4,#Period3_Teacher_Day5,#Period4_Teacher_Day1,
#Period4_Teacher_Day2,#Period4_Teacher_Day3,#Period4_Teacher_Day4,#Period4_Teacher_Day5,#Period5_Teacher_Day1,#Period5_Teacher_Day2,#Period5_Teacher_Day3,#Period5_Teacher_Day4,
#Period5_Teacher_Day5,#Period6_Teacher_Day1,#Period6_Teacher_Day2,#Period6_Teacher_Day3,#Period6_Teacher_Day4,#Period6_Teacher_Day5,#Period7_Teacher_Day1,#Period7_Teacher_Day2,
#Period7_Teacher_Day3,#Period7_Teacher_Day4,#Period7_Teacher_Day5,#Period8_Teacher_Day1,#Period8_Teacher_Day2,#Period8_Teacher_Day3,#Period8_Teacher_Day4,#Period8_Teacher_Day5
{
		font-size: 14px;
}
#Period1_room_1,#Period1_room_2,#Period1_room_3,#Period1_room_4,#Period1_room_5,#Period2_room_1,#Period2_room_2,#Period2_room_3,#Period2_room_4,#Period2_room_5,#Period3_room_1,
#Period3_room_2,#Period3_room_3,#Period3_room_4,#Period3_room_5,#Period4_room_1,#Period4_room_2,#Period4_room_3,#Period4_room_4,#Period4_room_5,#Period5_room_1,#Period5_room_2,
#Period5_room_3,#Period5_room_4,#Period5_room_5,#Period6_room_1,#Period6_room_2,#Period6_room_3,#Period6_room_4,#Period6_room_5,#Period7_room_1,#Period7_room_2,#Period7_room_3,
#Period7_room_4,#Period7_room_5,#Period8_room_1,#Period8_room_2,#Period8_room_3,#Period8_room_4,#Period8_room_5
{
		font-size: 14px;
}