label
{
		font-family: comic sans ms; 
		font-size: 20px;
}
body 
{
		background-color: Green;
}
input
{
		font-family: comic sans ms; 
		font-size: 20px; 
}
button
{
		height: 40px; 
		width: 60px;
}
