h2
{
    text-align: center;
    font-size: 70px;
}
#Heading
{
    width: 98%;
    margin-left: auto; 
    margin-right: auto;
}
img 
{   top:0;
    bottom: 0;
    position:absolute;
}
#benefit1,#consequence1,#benefit2,#consequence2
{
    margin-left: 8%;
}
button
{
    height: 200px; 
    width: 22%;
}
#benefit1,#benefit2
{
    margin-bottom: 40px;
}
