h1
{  
    text-align: center; 
    margin:auto;
    display:block;
    font-size: 70px;
}
#Heading
{
    width: 100%;
    height:100%;
    margin-left: auto; 
    margin-right: auto;
    background-color: blanchedalmond;
}
img 
{   top:0;
    bottom: 0;
    position:absolute;
    display: inline;
}
#benefit2,#consequence2
{
    margin-left: 8%;
}
#benefit1,#consequence1
{
	margin-left: 6%;
}

button
{
    height: 260px; 
    width: 22%;
}
#benefit1,#benefit2
{
    margin-bottom: 40px;
}
#BM
{
    margin-top:1%;
	height: 60px; 
	width: 100px;
    float:right;
    margin-right: .5%;
}
body
{
    margin:0;
    padding:0;
}
