h1
{ 
   	margin-left: 45%; 
    font-size: 70px;
    display: inline;
}
#Heading
{
    width: 98%;
    margin-left: auto; 
    margin-right: auto;
}
img 
{   top:0;
    bottom: 0;
    position:absolute;
}
#benefit2,#consequence2
{
    margin-left: 8%;
}
#benefit1,#consequence1
{
	margin-left: 6%;
}

button
{
    height: 260px; 
    width: 22%;
}
#benefit1,#benefit2
{
    margin-bottom: 40px;
}
#BLM
{
	height: 100px; 
	width: 100px;
	margin-left: 38.4%;
	margin-bottom: 5%;
}

