
<html>
	<head>
		<title>Flask test</title>
		<link rel = "stylesheet" href = "/static/customize.css"></link>
	</head>
	<body>
		<h1>Schedule</h1>
		<form method = "post">
			<table> 
				<tr> 
					{% for header in headings %} 
					<th>{{header}}</th>
					{%endfor%}
				</tr>
				{% for i in range(0,length) %} 
					<tr>
						<td> {{i + 1}} </td> 
						{%for count in range(0,5)%}
						<td> 
							<label>{{course[i]}}</label><br>
							<label>{{teachers[i]}}</label><br> 
							<label> {{rooms[i]}}</label><br>
						</td>
						{%endfor%}
					</tr>
				{%endfor%}
		</form>
	</body>
</html>

