
<html>
	<head>
		<title>Flask test</title>
		<link rel = "stylesheet" href = "/static/customize.css"></link>
	</head>
	<body>
		<h1>Schedule</h1>
		<form method = "post">
			<table> 
				<tr> 
					{% for header in headings %} 
					<th>{{header}}</th>
					{%endfor%}
				</tr>
				{% for i in range(0,length) %} 
					<tr>
						<td> {{i + 1}} </td> 
						<td> {{course[i]}}</td>
						<td> {{teachers[i]}}</td> 
						<td> {{rooms[i]}} </td>
					</tr>
				{%endfor%}
		</form>
	</body>
</html>

