#Input
{
	margin-left: 42%; 
	margin-right: 42%; 
	font-family: comic sans ms; 
	font-size: 15px;
}
h1
{
	margin-left: 43.5%; 
	margin-right: 43.5%;
	font-family: comic sans ms; 

}
body
{
	background-color: white;
}
