#banner
{
    width:100%; 
    height:200px;
    margin-right:auto; 
    margin-left: auto; 
    font-family: Segoe UI; 
    background-color: rgb(137,207,240);
    border: 0.00001px solid black;
}
#title
{
    text-align: center;
    font-size: 65px;
    display:block;
    margin-bottom:5%;
}
img
{
    position:absolute;
}
body
{
    padding:0; 
    margin:0;
}
#Home
{
    float: right; 
    height: 70px; 
    margin-top: -11%;
    width: 100px;
    border-radius:50%;
    margin-right: 0.3%;
    font-family:Segoe UI;
    transition-duration: 0.3s;
}
#Home:hover
{
    box-shadow:0 10px 16px 0 grey, 0 17px 51px 0 grey; 
    width:120px; 
    height:80px;
    background-color:rgb(80,150,230);
}
#question_1
{
    max-width: fit-content;
    margin-right:auto; 
    margin-left:auto;
    font-size: 20px;
    font-family: Segoe UI;

}
input
{
    font-size:25px;
    height:45px;
    font-family: Segoe UI;
    border-radius:12px;

}
#Submit_1
{
    font-size:20px;
    font-family: Segoe UI;
    width:50%;
    height:55px;
    transition-duration:0.4s;
    border-radius:12px;
    background-color:white;
}
#Submit_1:hover
{
    box-shadow: 0 16px 16px 0 grey, 0 17px 51px 0 grey;
    background-color:rgb(80,150,230);
}